.nav-list1{
    padding-top: 1.2%;
    padding-bottom:1%;
}
#itopleft{
	height: 33px;
	width:  50px;

}
p.navbar-text {
	
	font-weight: bold;
}
#signin{
	padding-right: -12%;
}
#pict02{
   
	height: 80px;
	width:  175px;

}
#pict03{
    height: 350px;
    width: 350px;
}

.container{
    max-width:970px;
}
.para-typo1{
    line-height: 1.5em;
}
.socialmedia{
    padding-top: 33%;
}
.form-group{
    
}
h2{
   line-height: 1;
   margin-bottom: 15px;
}

.contactbox{
    background-color:beige;
    margin-bottom: 6%;
}

.form-group {
  
    width: 88%;
}


 #generalinfo {
    margin-left: 7%;
}
.tablegroup{
    background-color: beige;
}
label{
    padding-bottom: .3%;
}
footer{
    line-height: 1.6em;
}
.footer-row-ln1{
    font-weight: bold;
}

.footer-box{
    background-color:beige;
  
}